$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;


$dark-white: #fcc0ce;
$light-green: #99e2d0;
$dark-green: #eafbff;
$light-blue: #89c8fa;
$dark-blue: #c5e2f8;
$violet: #d5f0f8;

$picto: #353535;


$menu-plat: 16px medium black "Roboto";
$menu-description: 15,04px light black "Roboto";
$menu-titre: 28px #101010 "Shrikhand";
$menu-ordre: 16px light black "Roboto";

$homepage-title: 24px bold black "Roboto";
$homepage-plat: 18px bold black "Roboto";
$homepage-description: 17px light black "Roboto";

$footer-gras: 16px medium white "Roboto";
$footer-regular: 16px normal white "Roboto";