/* Animation d'apparition du menu */
@keyframes card-hide {
  0% {
    transform: translateX(0px);
    opacity: 0;
  }
  1% {
    transform: translateX(3000px);
  }
  100% {
    transform: translateX(3000px);
  }
}
@keyframes card-anim {
  0% {
    transform: translateX(3000px);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  95% {
    opacity: 0.5;
  }
  99% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}