@import "variables";
@import "colors";
@import "mixins";

/* Smartphone entre 320 et 767px */

body {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    background-color: #f6f6f6;
}

nav {
    display: flex;
    flex-direction: column;
    background-color: white;

    img {
        width: 197px;
        align-self: center;
        padding: 25px 0 20px 0;
        background-color: white;
        display: flex;
        justify-content: center;
    }

    section {
        background-color: #EAEAEA;
        height: 50px;
        align-items: center;
        gap: 17px;
        display: flex;
        justify-content: center;
        filter: drop-shadow(0px 2px 4px rgb(0, 0, 0, 15%));

        p {
            font-size: 16px;
            font-weight: 500;
            color: #353535;
        }

        i {
            color: #353535;
        }
    }
}

.colonne {
    display: grid;
    flex-direction: column;
}

h1 {
    @include h1;
}

h2 {
    @include h2;
}

.button-general {
    @include button-general;

    &:hover {
        opacity: 0.85;
        filter: drop-shadow(0px 2px 4px rgb(0, 0, 0, 70%));
    }
}

main {
    h1 {
        text-align: left;
        padding: 40px 0px 20px 20px;
    }

}

.fonctionnement {
    background-color: white;
}

.tutoriel {
    @include tutoriel;

    &--violet {
        @include tutoriel;

        i {
            color: $primaire;
        }
    }

    position: relative;

    p {
        padding: 5px 9px;
        border-radius: 15px;
        background-color: $primaire;
        text-align: center;
        color: white;
        font-size: 14.18px;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        position: absolute;
        left: -15px;
        top: 8px;
    }

    &--violet p {
        padding: 5px 9px;
        border-radius: 15px;
        background-color: $primaire;
        text-align: center;
        color: white;
        font-size: 14.18px;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        position: absolute;
        left: -15px;
        top: 8px
    }
}


h3 {
    @include h3;
}

.alignement {
    display: flex;
    flex-direction: row;
    position: relative;
}

.numeros {
    position: absolute;
    top: 5px;
    z-index: 1;
}

.cards-fonctionnement {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.restaurants {
    display: flex;
    flex-direction: column;

    h1 {
        text-align: left;
        margin: 0;
        padding: 40px 0px 20px 20px;
    }
}

.card {
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
    position: relative;

    img {
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        height: 160px;
    }

    .card-txt {
        padding-left: 15px;
    }

    h4 {
        @include h4;
    }

    p {
        @include p;
    }

    i {
        font-size: 25px;
        color: black;
    }

    svg {
        display: none;
        height: 25px;
    }

    .etiquette {
        background-color: $light-green;
        position: absolute;
        display: flex;
        width: 80px;
        height: 29px;
        border-radius: 2px;
        right: 15px;
        top: 15px;
        align-items: center;
        justify-content: center;

        h6 {
            @include h6;
        }
    }
}

.restaurants-cards {
    margin: 5px 15px 30px 15px;
    display: flex;
    flex-direction: column;

    a {
        text-decoration: none;
    }
}

.card-rating:hover {
    i {
        display: none;
    }

    svg {
        display: inline;
    }
}

.card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 20px;
    justify-content: space-between;
}

footer {
    background-color: #353535;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    h5 {
        @include h5;
    }
}

a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
}

i {
    color: white;
    font-size: 16px;
    margin-right: 10px;
}

span {
    font-weight: 300;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Tablette <1024px */
@media (min-width: 768px) {

    .restaurants-cards {
        flex-flow: row wrap;
        justify-content: space-around;

        a {
            width: 40%;
        }
    }

    footer {
        flex-direction: row;
        justify-content: space-around;

        h5 {
            order: 1;
        }
    }
}


/****** Media queries ***********/
/* Desktop max 1440px */
@media (min-width: 1024px) {

    .fonctionnement h1 {
        padding-left: 140px;
    }

    .alignement {
        padding-left: 140px;
        padding-right: 140px;
    }

    .numeros ul {
        margin-left: auto;
        display: flex;
        gap: 338px;
    }

    .tutoriel {
        margin-left: 15px;

        &--violet {
            margin-left: 15px;
        }
    }

    .cards-fonctionnement {
        flex-direction: row;
    }

    .restaurants {
        padding-left: 140px;
        padding-right: 140px;

        h1 {
            padding-left: 0px;
        }
    }

    .restaurants-cards {
        margin: 5px 0px 30px;
    }

    footer {
        justify-content: end;
        padding-right: 60px;

        h5 {
            margin-left: 30px;
        }
    }
}