@import "variables";
@import "colors";
@import "mixins";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");


/* Smartphone entre 320 et 767px */
/* Index */

header {
    position: relative;
    background-color: white;
    width: 100%;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);

    img {
        display: block;
        height: 30px;
        width: 162px;
    }
}

.location {
    width: 100%;
    height: 50px;
    background-color: #eaeaea;
    display: flex;
    gap: 17px;
    justify-content: center;
    align-items: center;

    i {
        color: #353535;
        margin: 0px;
    }

    input {
        padding: 0px;
        width: 110px;
        height: 100%;
        border: none;
        background-color: transparent;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        color: #353535;
        font-weight: 500;

        &::-moz-placeholder {
            color: #353535;
        }

        &::placeholder {
            color: #353535;
        }

        &:focus {
            outline: none;
        }
    }
}


body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #f6f6f6;
}



.reservation {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        @include h1;
        padding: 40px 50px 0px 50px;
        margin: 0px
    }

    p {
        padding: 0px 30px 0px 30px;
        text-align: center;
    }
}

.button-general {
    @include button-general;

    &:hover {
        opacity: 0.85;
        filter: drop-shadow(0px 2px 4px rgb(0, 0, 0, 70%));
    }
}

main {
    h1 {
        text-align: left;
        padding: 40px 0px 20px 20px;
    }

}

.fonctionnement {
    background-color: white;
    padding-bottom: 60px;

    .cards-fonctionnement {
        display: flex;
        flex-direction: column;
        padding: 0px 20px 0px 20px;
        align-items: center;
        gap: 25px;
    }

    .choice {
        position: relative;
        padding-left: 12px;
        width: 95%;

        &:hover {
            cursor: default
        }
    }

    .choice__number {
        display: inline-block;
        margin: 0px;
        position: absolute;
        left: 0px;
        top: 24px;
        background-color: #9356DC;
        height: 24px;
        width: 24px;
        line-height: 26px;
        text-align: center;
        border-radius: 24px;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        color: #f6f6f6;
        font-weight: 500;
    }

    .choice__bloc {
        height: 72px;
        background-color: #f6f6f6;
        border-radius: 20px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        padding-left: 33px;
        display: flex;
        align-items: center;
        gap: 27px;

        &--purple {
            color: #9356DC;
        }

        &--grey {
            color: #7e7e7e;
        }

        p {
            margin: 0px;
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            color: black;
            font-weight: 500;
        }
    }
}


h3 {
    @include h3;
}

.restaurants {
    padding: 54px 0px 66px 0px;
    width: 100%;

    h1 {
        margin: 0px;
        padding: 0px 0px 26px 20px;
    }

    .restaurants-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 18px;

        .hide {
            display: none;
        }

        &__link {
            display: block;
            width: 90%;
            height: 251px;
            background-color: white;
            border-radius: 15px;
            overflow: hidden;
            position: relative;
            text-decoration: none;
        }

        &__tag {
            border-radius: 3px;
            position: absolute;
            top: 15px;
            right: 15px;
            background-color: #99E2d0;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            color: #008766;
            font-weight: 500;
            padding: 7px 9px 7px 9px;

            p {
                margin: 0px;
            }
        }

        img {
            width: 100%;
            height: 174px;
            -o-object-fit: cover;
            object-fit: cover;
        }

        &__text {
            display: flex;
            height: 72px;
            padding: 0px 25px 0px 13px;
            font-family: "Roboto", sans-serif;
            font-size: 17px;
            color: black;
            font-weight: 300;
            justify-content: space-between;
            align-items: center;
        }
    }

    .heart-bloc {
        width: 22px;
        height: 22px;
        font-size: 22px;
        position: relative;
        cursor: pointer;
        &:hover > .heart{
            opacity: 0;
            transition: opacity 300ms;
            transition-delay: 200ms;
        }
        &:hover > .heart-gradient{
            opacity: 1;
            transition: opacity 500ms;
            transform-origin: center bottom;
            animation-name: anim-heart;
            animation-duration: 500ms;
        }
        &:not(:focus) > .heart-gradient{
            transition: opacity 500ms;
        }
        .heart {
            position: absolute;
            top: 0px;
            left: 0px;
        }

        .heart-gradient {
            position: absolute;
            top: 0px;
            left: 0px;
            opacity: 0;
            background: linear-gradient(#9356DC, #FF79DA);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
        }
    }
}

footer {
    background-color: #353535;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    h5 {
        @include h5;
    }
}

a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
}


span {
    font-weight: 300;
}



/****** Media queries ***********/
/* Version tablette */
@media (min-width: 768.1px) and (max-width: 1023.9px) {

    .restaurants-cards {
        flex-flow: row wrap;
        justify-content: space-around;

        a {
            width: 40%;
        }
    }

    footer {
        flex-direction: row;
        justify-content: space-around;

        h5 {
            order: 1;
        }
    }
}


/****** Media queries ***********/
/* Version Bureau */
@media (min-width: 1024px) {

    .fonctionnement h1 {
        padding-left: 140px;
    }

    .alignement {
        padding-left: 140px;
        padding-right: 140px;
    }

    .numeros ul {
        margin-left: auto;
        display: flex;
        gap: 338px;
    }

    .tutoriel {
        margin-left: 15px;

        &--violet {
            margin-left: 15px;
        }
    }

    .cards-fonctionnement {
        flex-direction: row;
    }

    .restaurants {
        padding-left: 140px;
        padding-right: 140px;

        h1 {
            padding-left: 0px;
        }
    }

    .restaurants-cards {
        margin: 5px 0px 30px;
    }

    footer {
        justify-content: end;
        padding-right: 60px;

        h5 {
            margin-left: 30px;
        }
    }
}