@charset "UTF-8";
/* Smartphone entre 320 et 767px */
body {
  font-family: "Roboto", sans-serif;
  margin: auto;
  background-color: #f6f6f6;
}

nav {
  display: flex;
  flex-direction: column;
  background-color: white;
}
nav img {
  width: 197px;
  align-self: center;
  padding: 25px 0 20px 0;
  background-color: white;
  display: flex;
  justify-content: center;
}
nav section {
  background-color: #EAEAEA;
  height: 50px;
  align-items: center;
  gap: 17px;
  display: flex;
  justify-content: center;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.15));
}
nav section p {
  font-size: 16px;
  font-weight: 500;
  color: #353535;
}
nav section i {
  color: #353535;
}

.colonne {
  display: grid;
  flex-direction: column;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 40px 45px 0px 45px;
  margin: auto;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin: 0px 20px;
  padding-top: 15px;
}

.button-general {
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  height: 50px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin-top: 25px;
  margin-bottom: 50px;
  width: 218px;
  justify-self: center;
}
.button-general:hover {
  opacity: 0.85;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.7));
}

main h1 {
  text-align: left;
  padding: 40px 0px 20px 20px;
}

.fonctionnement {
  background-color: white;
}

.tutoriel {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: baseline;
  margin-left: 30px;
  background-color: #F6F6F6;
  border-radius: 20px;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.15));
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 70px;
  margin-right: 20px;
  margin-bottom: 25px;
  position: relative;
}
.tutoriel i {
  font-size: 20px;
  color: #7E7E7E;
}
.tutoriel--violet {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: baseline;
  margin-left: 30px;
  background-color: #F6F6F6;
  border-radius: 20px;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.15));
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 70px;
  margin-right: 20px;
  margin-bottom: 25px;
}
.tutoriel--violet i {
  font-size: 20px;
  color: #7E7E7E;
}
.tutoriel--violet i {
  color: #9356DC;
}
.tutoriel p {
  padding: 5px 9px;
  border-radius: 15px;
  background-color: #9356DC;
  text-align: center;
  color: white;
  font-size: 14.18px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  position: absolute;
  left: -15px;
  top: 8px;
}
.tutoriel--violet p {
  padding: 5px 9px;
  border-radius: 15px;
  background-color: #9356DC;
  text-align: center;
  color: white;
  font-size: 14.18px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  position: absolute;
  left: -15px;
  top: 8px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: black;
  text-align: left;
}

.alignement {
  display: flex;
  flex-direction: row;
  position: relative;
}

.numeros {
  position: absolute;
  top: 5px;
  z-index: 1;
}

.cards-fonctionnement {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.restaurants {
  display: flex;
  flex-direction: column;
}
.restaurants h1 {
  text-align: left;
  margin: 0;
  padding: 40px 0px 20px 20px;
}

.card {
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
  position: relative;
}
.card img {
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 160px;
}
.card .card-txt {
  padding-left: 15px;
}
.card h4 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: black;
  text-align: left;
  margin: 20px 0px 0px 0px;
}
.card p {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 300;
  color: black;
  text-align: left;
  margin-top: 5px;
}
.card i {
  font-size: 25px;
  color: black;
}
.card svg {
  display: none;
  height: 25px;
}
.card .etiquette {
  background-color: #99e2d0;
  position: absolute;
  display: flex;
  width: 80px;
  height: 29px;
  border-radius: 2px;
  right: 15px;
  top: 15px;
  align-items: center;
  justify-content: center;
}
.card .etiquette h6 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #008766;
}

.restaurants-cards {
  margin: 5px 15px 30px 15px;
  display: flex;
  flex-direction: column;
}
.restaurants-cards a {
  text-decoration: none;
}

.card-rating:hover i {
  display: none;
}
.card-rating:hover svg {
  display: inline;
}

.card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 20px;
  justify-content: space-between;
}

footer {
  background-color: #353535;
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer h5 {
  font-family: "Shrikhand";
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-align: left;
  margin: 0;
}

a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: white;
}

i {
  color: white;
  font-size: 16px;
  margin-right: 10px;
}

span {
  font-weight: 300;
}

/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/
/* Tablette <1024px */
@media (min-width: 768px) {
  .restaurants-cards {
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .restaurants-cards a {
    width: 40%;
  }
  footer {
    flex-direction: row;
    justify-content: space-around;
  }
  footer h5 {
    order: 1;
  }
}
/****** Media queries ***********/
/* Desktop max 1440px */
@media (min-width: 1024px) {
  .fonctionnement h1 {
    padding-left: 140px;
  }
  .alignement {
    padding-left: 140px;
    padding-right: 140px;
  }
  .numeros ul {
    margin-left: auto;
    display: flex;
    gap: 338px;
  }
  .tutoriel {
    margin-left: 15px;
  }
  .tutoriel--violet {
    margin-left: 15px;
  }
  .cards-fonctionnement {
    flex-direction: row;
  }
  .restaurants {
    padding-left: 140px;
    padding-right: 140px;
  }
  .restaurants h1 {
    padding-left: 0px;
  }
  .restaurants-cards {
    margin: 5px 0px 30px;
  }
  footer {
    justify-content: end;
    padding-right: 60px;
  }
  footer h5 {
    margin-left: 30px;
  }
}/*# sourceMappingURL=styles.css.map */