/* Animation d'apparition du menu */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Animation de rotation du cercle du loader */
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Animation d'apparition du loader */
@keyframes anim-loader {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  99% {
    width: 100vw;
    height: 100vh;
  }
  100% {
    opacity: 0;
    width: 0px;
    height: 0px;
  }
}
/* Smartphone entre 320 et 767px */
/* Index */
header {
  position: relative;
  background-color: white;
  width: 100%;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
header img {
  display: block;
  height: 30px;
  width: 162px;
}

.location {
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
  display: flex;
  gap: 17px;
  justify-content: center;
  align-items: center;
}
.location i {
  color: #353535;
  margin: 0px;
}
.location input {
  padding: 0px;
  width: 110px;
  height: 100%;
  border: none;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #353535;
  font-weight: 500;
}
.location input::-moz-placeholder {
  color: #353535;
}
.location input::placeholder {
  color: #353535;
}
.location input:focus {
  outline: none;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  background-color: #f6f6f6;
}

.reservation {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reservation h1 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 40px 45px 0px 45px;
  margin: auto;
  padding: 40px 50px 0px 50px;
  margin: 0px;
}
.reservation p {
  padding: 0px 30px 0px 30px;
  text-align: center;
  font-weight: 300;
}
.reservation a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: white;
}

.button-general {
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  height: 50px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin-top: 25px;
  margin-bottom: 50px;
  width: 218px;
  justify-self: center;
  cursor: pointer;
  margin-top: 25px;
  margin-bottom: 50px;
  justify-self: center;
}
.button-general:hover {
  opacity: 0.85;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.7));
}
.button-general a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: white;
}

main h1 {
  text-align: left;
  padding: 40px 0px 20px 20px;
}

.fonctionnement {
  background-color: white;
  padding-bottom: 60px;
}
.fonctionnement .cards-fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 0px 20px 0px 20px;
  align-items: center;
  gap: 25px;
}
.fonctionnement .choice {
  position: relative;
  padding-left: 12px;
  width: 95%;
}
.fonctionnement .choice:hover {
  cursor: default;
}
.fonctionnement .choice__number {
  display: inline-block;
  margin: 0px;
  position: absolute;
  left: 0px;
  top: 24px;
  background-color: #9356DC;
  height: 24px;
  width: 24px;
  line-height: 26px;
  text-align: center;
  border-radius: 24px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #f6f6f6;
  font-weight: 500;
}
.fonctionnement .choice__bloc {
  height: 72px;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  padding-left: 33px;
  display: flex;
  align-items: center;
  gap: 27px;
}
.fonctionnement .choice__bloc--purple {
  color: #9356DC;
}
.fonctionnement .choice__bloc--grey {
  color: #7e7e7e;
}
.fonctionnement .choice__bloc p {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: black;
  font-weight: 500;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: black;
  text-align: left;
}

.restaurants {
  padding: 54px 0px 66px 0px;
  width: 100%;
}
.restaurants h1 {
  margin: 0px;
  padding: 0px 0px 26px 20px;
}
.restaurants .restaurants-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}
.restaurants .restaurants-cards .hide {
  display: none;
}
.restaurants .restaurants-cards__link {
  display: block;
  width: 90%;
  height: 251px;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
}
.restaurants .restaurants-cards__tag {
  border-radius: 3px;
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #99E2D0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #008766;
  font-weight: 500;
  padding: 7px 9px 7px 9px;
}
.restaurants .restaurants-cards__tag p {
  margin: 0px;
}
.restaurants .restaurants-cards img {
  width: 100%;
  height: 174px;
  -o-object-fit: cover;
  object-fit: cover;
}
.restaurants .restaurants-cards__text {
  display: flex;
  height: 72px;
  padding: 0px 25px 0px 13px;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  color: black;
  font-weight: 300;
  justify-content: space-between;
  align-items: center;
}
.restaurants .restaurants-cards__text h2 {
  margin-bottom: 0px;
}
.restaurants .restaurants-cards__text p {
  margin-top: 5px;
}
.restaurants .heart-bloc {
  width: 22px;
  height: 22px;
  font-size: 22px;
  position: relative;
  cursor: pointer;
}
.restaurants .heart-bloc:hover > .heart {
  opacity: 0;
  transition: opacity 300ms;
  transition-delay: 200ms;
}
.restaurants .heart-bloc:hover > .heart-gradient {
  opacity: 1;
  transition: opacity 500ms;
  transform-origin: center bottom;
  animation-name: anim-heart;
  animation-duration: 500ms;
}
.restaurants .heart-bloc:not(:focus) > .heart-gradient {
  transition: opacity 500ms;
}
.restaurants .heart-bloc .heart {
  position: absolute;
  top: 0px;
  left: 0px;
}
.restaurants .heart-bloc .heart-gradient {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

footer {
  background-color: #353535;
  padding: 22px 25px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
footer .footer__container {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
footer i {
  height: 16px;
  width: 16px;
}
footer .icon-text {
  display: flex;
  align-items: center;
  color: white;
  gap: 10px;
}
footer h3 {
  font-family: "Shrikhand";
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-align: left;
  margin: 0;
}
footer a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: white;
}
footer span {
  font-weight: 300;
}

/* Loader */
.loader {
  position: absolute;
  background-color: #353535;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 100;
  opacity: 0;
  animation-name: anim-loader;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.loader__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.loader__title {
  font-family: Shrikhand;
  font-size: 70px;
  font-weight: 400;
  color: white;
}
.loader__anim {
  width: 80px;
  height: 80px;
  border: 15px solid #FF79DA;
  border-bottom-color: #9356DC;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

/* Version tablette */
@media (min-width: 768.1px) and (max-width: 1023.9px) {
  .fonctionnement .cards-fonctionnement {
    padding: 0px 80px 0px 80px;
  }
  .restaurants {
    width: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .restaurants .restaurants-cards {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 40px;
  }
  .restaurants .restaurants-cards__link {
    width: 44.5%;
  }
}
/* Version Bureau */
@media (min-width: 1024px) {
  header {
    height: 96px;
  }
  .reservation h1 {
    font-size: 40px;
  }
  .reservation p {
    font-size: 18px;
  }
  .reservation .button-general {
    margin-bottom: 15px;
  }
  .fonctionnement .content {
    margin: auto;
    max-width: 1080px;
  }
  .fonctionnement .cards-fonctionnement {
    flex-direction: row;
  }
  .fonctionnement .choice__bloc {
    width: 90%;
  }
  .restaurants {
    width: auto;
  }
  .restaurants .content {
    max-width: 1080px;
    margin: auto;
  }
  .restaurants .restaurants-cards {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 50px;
  }
  .restaurants .restaurants-cards__link {
    width: 47%;
  }
  footer {
    flex-direction: row-reverse;
    gap: 90px;
    padding: 60px 60px 30px 25px;
    align-items: center;
  }
  footer .footer__container {
    flex-direction: row;
    gap: 20px;
  }
  footer .icon-text {
    gap: 11px;
  }
  footer .icon-text:last-of-type {
    margin-right: 40px;
  }
}/*# sourceMappingURL=styles.css.map */